html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #0D112B;
	color: white;
}


.swagger-ui .topbar {
    background-color: #005151;
    padding: 10px 0;
}


h2.title {
	color: white;
}

pre.base-url {
	color: white;
}

div.description {
	color: white;
}


div.opblock-tag-section {
	color: white;
	background-color: yellow;
}


div.scheme-container {
	background: #0D112B;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    
    background: #0D112B;
    border: none;
    border-radius: 0 4px 4px 0;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 30px;
}
